body {
    ;
  
    .header-section {
      margin-bottom: 20px;
    }
  
    .logo {
      .logo-text {
        color: #000;
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
      }
    }
  
    .header-text {
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
    }
  
    .solution-info {
      padding: 20px;
      margin-top: 20px;
      text-align: left;
  
      h2 {
        font-size: 24px;
      }
  
      p {
        margin-bottom: 15px;
      }
  
      button {
        margin-top: 10px;
      }
    }
  
    .solution-details {
      padding: 20px;
      text-align: left;
  
      h1 {
        font-size: 24px;
      }
  
      p {
        margin-bottom: 15px;
      }
  
      hr {
        margin: 15px 0;
        border-top: 1px solid #000;
      }
    }
  
    img {
      max-height: 700px;
      width: auto;
      border: 1px solid #000;
    }
  
    .advantages-section {
      padding: 20px;
      text-align: left;
  
      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      .advantage-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
  
        &.highlight {
          h3 {
            color: #007bff;
          }
        }
  
        .icon {
          font-size: 2.5rem; /* Aumentei o tamanho dos ícones */
          margin-right: 20px;
        }
  
        .number {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
  }
  